@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
     font-family: "Arian LT Demi";
     src: url("./fonts/ArianLTDemi.ttf") format("truetype");
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: "Arian LT Bold";
     src: url("./fonts/ArianLTBold.ttf") format("truetype");
     font-weight: bold;
     font-style: normal;
}

* {
     box-sizing: border-box;
     padding: 0;
}

body {
     margin: 0;
     font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
          "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
          monospace;
}

.welcome-text {
     justify-self: center;
     width: 80%;
     grid-column: 1 / -1;
     grid-row: 2 / 3;
     color: white;
     font-size: 32px;
     line-height: 2.25rem;
     text-align: center;
}
